<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kakao.sdk.flutter">

    <application>
        <activity android:name=".TalkAuthCodeActivity"
                  android:launchMode="singleTask"
                  android:theme="@style/TransparentCompat">
        </activity>
        <activity
                android:name=".AuthCodeCustomTabsActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:theme="@style/TransparentCompat"/>
    </application>

</manifest>