<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.kakao_flutter_sdk">
    <application>
        <activity
                android:name=".AuthCodeCustomTabsActivity"
                android:theme="@style/TransparentCompat"
                android:launchMode="singleTask"/>
    </application>
</manifest>
